{% extends 'base.html' %}

{% block content %}

<h1 style="text-align:center;">GCI <a href="https://codein.withgoogle.com/dashboard/task-instances/6211328603586560/?sp-page=1">TASK</a></h1>
    	<div class="box">
  			<h1>Log In</h1>
  			<form action="/" method="post">
    			<input type="text" name="username" id="username" placeholder="Username" required/>
    			<br>
    			<input type="password" name="password" id="password" placeholder="Password" required/>
    			<br>
    			<input type="submit" class="button" value="Log In"/>
                <a href="{% url /password_reset/ %}">Forget Password</a>
  			</form>
		</div>
{% endblock %}